{% extends "base.html" %}
{% load pub_books %}

{% block nav-pub %}<a class="nav-item nav-link active text-uppercase" href="">Издательства</a>{% endblock %}

{% block content %}
    <h5 class="mb-3">В моей библиотеке собраны книги следующих издательств:</h5>    
    <ul class="list-group">
        {% for pub in publishers %}
        <li class="list-group-item">
            <p>{{ pub.title }} ({{ pub|count_books }}):</p>
            <ul class="list-group">
                {% for book in pub.books.all %}
                <li class="list-group-item">
                    {{ book.title }}, {{ book.author }}
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
{% endblock %}


